.body{
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-image: url(static/Banner.png);
    height: 91vh;
}

.header-line{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo {
    padding-right: 50px ;
}

.nav{
    padding-top: 0px;
    display: flex;
    align-items: center;
}

.nav-item{
    padding-left: 32px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #000000;

    transition: color 0.3s linear;
}

.nav-item:hover{
    color: #0FB3AF;
}

.button{
    background-color: #0FB3AF;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: 0;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 36px;
    border-radius: 10px;
    font-weight: 50px;
    height: 20px;
}

.search-btn{
    align-items: center;
}

.header-downed-1{
    font-family: 'Maven Pro', sans-serif;
    text-decoration: 0;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.header-downed-2 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    text-decoration: 0;
    font-size: 24px;
    font-weight: 600;
}

.search-button {
    background-color: #3C3C3B;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: 0;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 14px 28px;
    border-radius: 5px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.wr-txt-1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color:#0FB3AF;
}

.wr-txt-2{
    padding-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: #3C3C3B;
}

.cards{
    padding-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards-holder{
    display: flex;
    justify-content: center;
}


.card-1{
    width: 50%;
    background-color: #ffffff;
    margin-right: 100px;
}

.card1-1-txt{
    padding-top: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}

.card1-2-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}

.card-1-img{
    display: flex;
    justify-content: center;
}


.card-2{
    width: 50%;
    background-color: #ffffff;
    margin-right: 100px;
}

.card2-1-txt{
    padding-top: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}
.card2-2-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}

.card-2-img{
    display: flex;
    justify-content: center;
}

.card-3{
    width: 50%;
    background-color: #ffffff;
    margin-right: 100px;
}

.card3-txt{
    padding-top: 17px;
    text-align: match-parent;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}

.card-3-img{
    display: flex;
    justify-content: center;
}

.card-4{
    width: 50%;
    background-color: #ffffff;
    margin-right: 110px;
}

.card4-txt{
    padding-top: 17px;
}

.card4-1-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}

.card4-2-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: #3C3C3B;
}

.card-4-img{
    display: flex;
    justify-content: center;
}

.HIW{
    padding-top: 133px;
    background-color: #FBFBFB;
}

.HIWname{
    font-family: "Maven Pro", sans-serif;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    color: #0FB3AF;
    text-align: center;
}

.HIWname1{
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3C3C3B;
    text-align: center;
    margin-top: 19px;
}

.HiwCard-1{
    display: flex;
    padding-top: 100px;
    padding-left: 272.48px;
}

.HiwCard-1-right{
    padding-left: 240px;
    margin-top: 52px;
}

.HiwCard-1sup2-img{
    display: flex;
}

.SFTA{
    font-family: "Maven Pro", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    color: #0FB3AF;
    text-align: left;
    margin-left: 59px;
    padding-bottom: 30px;
    
}

.STFAsup{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3B;
    text-align: left;
    margin-top: 14px;
    line-height: 30px;
}

.KnowButton{
    background-color: #0FB3AF;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 14px 19px 19px 13px;
    border-radius: 5px;
    
}

.str{
    margin-left: 10px;
}

.knowbut{
    padding-top: 30px;
}

.vector{
    padding-left: 649px;
}

.supvector {
    align-items: center;
}

.HiwCard-2 {
    display: flex;
    
    padding-left: 272.48px;
}

.HiwCard-2-left {
    padding-right: 105px;
    margin-top: 40px;
}

.HiwCard-2sup-img {
    display: flex;
}

.HiwCard-2-img {
    display: flex;
}


.AYR {
    font-family: "Maven Pro", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    color: #0FB3AF;
    text-align: right;
    padding-bottom: 30px;

}

.AYRsup {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3B;
    text-align: right;
    margin-top: 14px;
    line-height: 30px;
}

.AYR-container{
    display: flex;
    font-family: "Maven Pro", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-items:end;
    color: #0FB3AF;
    text-align: right;
    padding-bottom: 30px;
}

.KnowButton2 {
    background-color: #0FB3AF;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 14px 19px 19px 13px;
    border-radius: 5px;

}

.str {
    margin-left: 10px;
}

.knowbut2 {
    padding-top: 30px;
}

.HiwCard-3 {
    display: flex;
    
    padding-left: 272.48px;
}

.HiwCard-3-right {
    padding-left: 140px;
    margin-top: 10px;
}

.HiwCard-3sup2-img {
    display: flex;
}

.SYR {
    font-family: "Maven Pro", sans-serif;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    color: #0FB3AF;
    text-align: left;
    margin-left: 59px;
    padding-bottom: 30px;

}

.SYRsup {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3B;
    text-align: left;
    margin-top: 14px;
    line-height: 30px;
}

.vector2 {
    padding-left: 609px;
}

.supvector2 {
    align-items: center;
}

.search-button2 {
    background-color: #3C3C3B;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: 0;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 17px 32px;
    border-radius: 5px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.search-btn2 {
    margin-top: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}